<h1><%= @adm_politician.name %></h1>

<dl class="dl-horizontal">

	<dt>
		<strong>Número:</strong>
	</dt>
	<dd>
		<%= @adm_politician.number %>
	</dd>
	
	<dt>
		<strong>Partido:</strong>
	</dt>
	<dd>
		<%= @adm_politician.party %>
	</dd>
	
	<dt>
		<strong>Email:</strong>
	</dt>
	<dd>
		<%= @adm_politician.email %>
	</dd>
	
	<%= link_to 'Editar', edit_adm_politician_path(@adm_politician), class: "btn btn-default" %> 

</dl>
