<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'nome' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'cidade' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label 'estado' %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label 'destinatário' %><br>
    <%= f.text_field :recipient %>
  </div>
  <div class="field">
    <%= f.label 'queremos resolver o problema' %><br>
    <%= f.text_area :wants %>
  </div>
  <div class="field">
    <%= f.label 'fazendo' %><br>
    <%= f.text_area :doing %>
  </div>
  <div class="field">
    <%= f.label 'impactando em' %><br>
    <%= f.text_area :impacts %>
  </div>
  <div class="field">
    <%= f.label 'estratégia' %><br>
    <%= f.text_area :strategy %>
  </div>
  <div class="field">
    <%= f.label 'explorar' %><br>
    <%= f.text_area :explore %>
  </div>
  <div class="field">
    <%= f.label 'definir' %><br>
    <%= f.text_area :define %>
  </div>
  <div class="field">
    <%= f.label 'causas' %><br>
    <%= f.text_area :causes %>
  </div>
  <div class="field">
    <%= f.label 'prototipar' %><br>
    <%= f.text_area :prototype %>
  </div>
  <div class="actions">
    <%= f.submit 'enviar', class: "btn btn-primary" %>
  </div>
<% end %>
