<h1>Lista de Projetos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Destinatário</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.city %></td>
        <td><%= project.state %></td>
        <td><%= project.recipient %></td>
        <td><%= link_to 'Mais detalhes', project, class: 'btn btn-sm btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
