<div class="vote-btn-group pull-right">
  <span class="vote-btn-upvote">
    <%= link_to(raw("<i class='fa fa-thumbs-o-up' aria-hidden='true'></i>"), {controller: 'projects', action: 'do_vote', outcome: true, id: @project.id}, class:(@project.user_vote(current_user) ? "upvoted" : ""), method: :post) %>
  </span>
  <span class="vote-btn-downvote">
    <%= link_to(raw("<i class='fa fa-thumbs-o-down' aria-hidden='true'></i>"), {controller: 'projects', action: 'do_vote', outcome: false, id: @project.id}, class:( (!@project.user_vote(current_user).nil? && !@project.user_vote(current_user)) ? "downvoted" : ""), method: :post) %>
  </span>
</div>
<div class="project-contents">
  <h3><%= @project.name %></h3>

  <hr>

  <p>
    <strong>Votos:</strong>
    <p>
      <ul class="vote-box__inline-list">
        <li><span class="total-votes"><%= @project.netvotes %><span></li>
        <li><%= @project.upvotes %><i class='fa fa-thumbs-o-up' aria-hidden='true'></i></li>
        <li><%= @project.downvotes %><i class='fa fa-thumbs-o-down' aria-hidden='true'></i></li>
      </ul>
    </p>
  </p>

  <br>
  <br>

  <% if !@project.politicians.empty? %>
    <p>
      <strong>Políticos Associados:</strong>
      <% @project.politicians.each do |politician| %>
        <p>
          <%= politician.name %>
           - 
          <%= politician.number %>
           - 
          <%= politician.party %>
        </p>
      <% end %>
    </p>
    <br>
  <% end %>
  
  <p>
    <strong>Cidade:</strong>
    <%= simple_format @project.city %>
  </p>

  <br>
  
  <p>
    <strong>Estado:</strong>
    <%= simple_format @project.state %>
  </p>
    
  <br>

  <p>
    <strong>Destinatário:</strong>
    <%= simple_format @project.recipient %>
  </p>

  <br>
  
  <p>
    <strong>Queremos resolver o problema:</strong>
    <%= simple_format @project.wants %>
  </p>

  <br>
  
  <p>
    <strong>Fazendo:</strong>
    <%= simple_format @project.doing %>
  </p>

  <br>
  
  <p>
    <strong>Impactando em:</strong>
    <%= simple_format @project.impacts %>
  </p>

  <br>

  <% if admin_signed_in? %>
    linkar políticos
  <% else %>
    <button type="button" id="show-details" class="btn btn-default">Mostrar detalhes do Design Thinking</button>
  <% end %>

  <section id="details" class="hidden">

    <h4>Detalhes do Design Thinking</h4>

    <p>
      <strong>Explorar:</strong>
      <%= simple_format @project.explore %>
    </p>

    <br>
  
    <p>
      <strong>Definir:</strong>
      <%= simple_format @project.define %>
    </p>

    <br>
  
    <p>
      <strong>Causas:</strong>
      <%= simple_format @project.causes %>
    </p>

    <br>
  
    <p>
      <strong>Prototipar:</strong>
      <%= simple_format @project.prototype %>
    </p>

    <br>
  
    <p>
      <strong>Estratégia:</strong>
      <%= simple_format @project.strategy %>
    </p>

  </section>
  
</div>

<%= javascript_include_tag 'projects', 'data-turbolinks-track' => true %>