<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @project.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @project.recipient %>
</p>

<p>
  <strong>Wants:</strong>
  <%= @project.wants %>
</p>

<p>
  <strong>Doing:</strong>
  <%= @project.doing %>
</p>

<p>
  <strong>Impacts:</strong>
  <%= @project.impacts %>
</p>

<p>
  <strong>Strategy:</strong>
  <%= @project.strategy %>
</p>

<p>
  <strong>Explore:</strong>
  <%= @project.explore %>
</p>

<p>
  <strong>Define:</strong>
  <%= @project.define %>
</p>

<p>
  <strong>Causes:</strong>
  <%= @project.causes %>
</p>

<p>
  <strong>Prototype:</strong>
  <%= @project.prototype %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
