<!DOCTYPE html>
<html>
<head>
  <title>Legislacao</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= stylesheet_link_tag 'bootstrap-theme.min.css' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'LOGO_LegislACAO-32x32.png'%>
</head>
<body>
	<div class="container">
		<% if admin_signed_in? %>
			<nav class="navbar navbar-fixed-top navbar-admin">
				<div class="container">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="/adm">LegislAÇÃO</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="/adm/politicians">Políticos</a></li>
							</ul>
							<ul class="nav navbar-nav pull-right">
								<% if admin_signed_in? %>
									<li>
										<a href="">usuário logado: <span style="font-weight: bold;"><%= current_admin.email %></span></a>
									</li>
									<li>
										<%= link_to('Sair', destroy_admin_session_path, method: 'delete') %>
									</li>
								<% else %>
									<li>
										<%= link_to('Logar', admin_session_path) %>
									</li>
								<% end %>
							</ul>
						</div><!--/.nav-collapse -->
					</div><!--/.container-fluid -->
				</div>
			</nav>
		<% else %>
			<nav class="navbar navbar-fixed-top">
				<div class="container">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="/">LegislAÇÃO</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/projects">Votar em Projeto</a></li>
								<li><a href="/projects/new">Propor Projeto</a></li>
							</ul>
							<ul class="nav navbar-nav pull-right">
								<% if user_signed_in? %>
									<li>
										<a href="">usuário logado: <span style="font-weight: bold;"><%= current_user.email %></span></a>
									</li>
									<li>
										<%= link_to('Sair', destroy_user_session_path, method: 'delete') %>
									</li>
								<% else %>
									<li>
										<%= link_to('Cadastrar-se', new_user_registration_path) %>
									</li>
									<li>
										<%= link_to('Login', new_user_session_path) %>
									</li>
								<% end %>
							</ul>
						</div><!--/.nav-collapse -->
					</div><!--/.container-fluid -->
				</div>
			</nav>
		<% end %>
		<div class="contents">
			<% if notice %>
				<div class="alert alert-success" role="alert">
					<%= notice %>
				</div>
			<% end %>
			<% if alert %>
				<div class="alert alert-danger" role="alert">
					<%= alert %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
